<!DOCTYPE html>
<html>
<title>Online HTML Editor</title>
<style>
    h1{font-size:50px;position:relative;text-align:center;color:#486B00;}
    h1.logo{
        position:fixed;
        z-position:20;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        -webkit-text-stroke: 2px #A2C523;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size:100px;
        opacity: 0.2;
    }
    div{font-size:50px;
        z-position:10;
    }
    span{color:#486B00;
    }

</style>
<head>
</head>
<body>
<h1>Online HTML Editor</h1>
<h1 class='logo'>GORELETS</h1>

<div><span>Лес</span> — экологическая система, биогеоценоз, в которой главной жизненной формой являются деревья[1].</div>

<div><span>Лес</span> — составная часть природы, понятие «лес» можно рассматривать на разных уровнях. В глобальном масштабе — это часть биосферы, в локальном — это может быть насаждение. Лес также можно рассматривать как природно-зональное подразделение, как провинциальное подразделение, как лесной массив (Шипов лес, Шатилов лес, Чёрный лес), как экосистему[2].</div>

<div>Леса занимают около <span>трети площади суши</span>, площадь леса на Земле составляет 38 млн км²[3]. Из них 264 млн га, или 7 %, посажены человеком[4], к началу XXI века человек уничтожил около 50 % площадей лесов, ранее существовавших на планете[5]. Половина лесной зоны принадлежит тропическим лесам. Площади, занятые деревьями с сомкнутостью крон менее 0,2—0,3, считаются редколесьем[2].</div>

Продовольственная и сельскохозяйственная организация ООН определяет лес как «участок земли площадью более 0,5 га, на котором растут деревья высотой более пяти метров с сомкнутостью крон более 0,1 или деревья, способные на данном участке достичь этих пороговых значений»</div>

</body>
</html>